body {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

nav {
  flex: 1 100%;
}

.top {
  padding-top: 10px;
}

.col-sm-6 {
  padding-bottom: 5px;
}

.body {
  width: 300px;
  padding-left: 10px;
}

footer {
  margin-top: auto;
}
