nav {
  max-height: 50px;
}

.form {
  margin: auto;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  padding: 20px;
}

.article-show-body,
.show-links {
  margin: auto;
  width: 50%;
}

.show-links {
  padding-top: 20px;
}
