a:hover {
  text-decoration: none !important;
}

.nav-item {
  padding: 8px;
}

.email {
  color: gray;
}

.featured-article {
  background-image: url(pexels-roberto-lee-cortes.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
}

.featured-title,
.featured-subtitle {
  margin-left: 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
}

.featured-title {
  color: orange;
}

.featured-subtitle {
  color: white;
}

section {
  position: relative;
}

.latest {
  position: absolute;
  bottom: 0;
  color: white;
  font-weight: bold;
}

.business,
.sports,
.fashion,
.entertainment {
  background-size: cover;
  height: 300px;
}

h4 {
  padding-top: 20px;
  text-decoration: underline;
  text-decoration-color: orange;
}

footer {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  width: 100%;
  justify-content: space-between;
}

.fa {
  padding: 10px;
}

.footer-copyright {
  color: gray;
  padding-top: 7px;
}
